$playerLabel: #2b2b2b;

.song {
    background-color: snow;
    padding: 30px;
    margin: 20px;
    display: inline-block;
    border-radius: 15px;
    border: 3px solid black;
    font-family: 'Coming Soon';
    max-width: 500px;
    text-align: left;
}

.title {
    display: inline-block;
}

.artist {
    margin-left: 5px;
    display: inline-block;
}

.lyric {
    font-family: 'Coming Soon';
    font-size: 18px;
    font-weight: bold;
}

.athlete {
    text-align: center;
    padding: 10px;
    background-color: $playerLabel;
    border: 1px solid black;
    color: rgb(206, 193, 193);
    display: inline-block;
    font-family: 'Abril Fatface';
    font-size: 16px;
    border-radius: 20px;
    min-width: 100px;
    margin-top: 20px;
}
